.authButton{
    margin-top: 2.5vw;
    text-align: center;
    padding-inline: 15vw;
    font-weight: 600;
    background-color: #D5DFF6;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 15px;
    letter-spacing: 0.1vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
}