.authForm{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        letter-spacing: 0.25vw;
        margin-top: 10vh;
    }

    .auth0Resources{
        display: flex;
        height: 50px;
        margin-top: 5vh;
        .auth0button{
            background-color: #F7F8FF;
            border: 1px solid #969696 ;
            border-radius: 10px;
            height: 6vh;
            width: 17vw;
            margin-inline: 2vw;
            font-family: Roboto;
            font-weight: 100;
            color: #333333;
            font-size: 15px;
        }
    }
    
    .form{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .authInput{
            margin-top: 4vh;
            width: 30vw;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #E4E4EA;
            font-size: 16px;
            letter-spacing: 0.1vw;
        }
        .authInput:focus-visible{
            outline: none;
            border-bottom: 2px solid #c9c9c9;
        }

        .error{
            color: red;
            margin: 0;
        }
    }
    .bottomText{
        display: flex;
        font-size: 13px;
        .link{
            margin: 0;
            margin-left: 2px;
            color: blue;
            cursor: pointer;

        }
        .link:hover{
            text-decoration: underline;
        }
    }
}