// GENERAL STYLES
.graphButton{
    margin-top: 20px;
    width: 30vh;
    height: 7vh;
}




// ADDVERTEX STYLES

.templateButton{
    margin-top: 20px;
    font-size: medium;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}

.templateButton:active{
    box-shadow: none;
}


// ADDEDGE STYLES

.smallTemplateButton{
    width: 20vh;
    height: 5vh;
    margin-top: 10px;
}


// FINDWAY STYLES

.findWayButton{
    margin-top: 20px;
    width: 30vh;
    height: 7vh;
    font-size: large;
}