.navBar{
    position: sticky;
    width: 100%;
    height: 10vh;
    background-color: #593d88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;


    a{
        color: white;
        text-decoration: none;
        padding-bottom: 2px;
    }

    a:hover{

        border-bottom: 2px solid white;
        transition: 0.05s ease;
    }

    .navBarItems{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navBarItemsInfo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        left: 1000px;
        font-size: large;
        font-weight: 600;
    }

    .navBarItemsUser{
        display: flex;
    }

    .navBarItem{
        margin-inline: 30px;
    }
}

